 <!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>ELRN</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>E LEARNING</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" style="display:none;" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->

                <a href="#" class="btn  btn-flat" style="background-color: #3c8dbc;color:white;padding:14px;">ZAPLAN</a>
                <a href="#" class="btn  btn-flat" style="background-color: #3c8dbc;color:white;padding:14px;">Sign out</a>

                <!-- Control Sidebar Toggle Button -->

            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">DASHBOARD</li>
            <!-- Optionally, you can add icons to the links -->
            <!-- echo highlight -->
            <li><a href="books"><i class="fa fa-book"></i> <span>BOOK</span></a></li>


            <li><a href="notifications"><i class="fa fa-exclamation-circle"></i> <span>NOTIFICATION</span></a></li>

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>