
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ELRN | BOOK</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/bower_components/Ionicons/css/ionicons.min.css">


    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/dist/css/skins/skin-blue.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">



</head>

<body class="hold-transition skin-blue sidebar-mini">
    <!--
    BODY TAG OPTIONS:
    =================
    Apply one or more of the following classes to get the
    desired effect
    |---------------------------------------------------------|
    | SKINS         | skin-blue                               |
    |               | skin-black                              |
    |               | skin-purple                             |
    |               | skin-yellow                             |
    |               | skin-red                                |
    |               | skin-green                              |
    |---------------------------------------------------------|
    |LAYOUT OPTIONS | fixed                                   |
    |               | layout-boxed                            |
    |               | layout-top-nav                          |
    |               | sidebar-collapse                        |
    |               | sidebar-mini                            |
    |---------------------------------------------------------|
    -->
    <div class="wrapper">


        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="P_index.php" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>ELRN</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>E LEARNING</b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" style="display:none;" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->

                        <a href="#" class="btn  btn-flat" style="background-color: #3c8dbc;color:white;padding:14px;">ZAPLAN</a>
                        <a href="#" class="btn  btn-flat" style="background-color: #3c8dbc;color:white;padding:14px;">Sign out</a>

                        <!-- Control Sidebar Toggle Button -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">



                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">DASHBOARD</li>
                    <!-- Optionally, you can add icons to the links -->

                    <li class="active"><a href="?x=BOOK"><i class="fa fa-book"></i> <span>BOOK</span></a></li>


                    <li><a href="?x=NOTIFICATION"><i class="fa fa-exclamation-circle"></i> <span>NOTIFICATION</span></a></li>

                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content container-fluid">


                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


                <link rel="stylesheet" href="content/cd.css">
                <link rel="stylesheet" href="sm/dist/sweetalert.css">
                <script src="sm/dist/sweetalert.min.js"></script>

                <link rel="stylesheet" href="content/color.css">
                <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

                <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

                


                <div class="row">
                    <div class="col-md-12">
                        <center><button style="width: 100%;" id="addchapter" class="btn btn-primary">ADD CHAPTER <i class="fa fa-plus"></i></button></center>
                    </div>

                </div>


                <div id="panel" style="display: none;">




                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="box box-primary">

                                <!-- /.box-header -->
                                <!-- form start -->
                                <form action="/" id="addform">
                                    <div class="box-body">


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Chapter Name</label>
                                                    <input type="text" class="form-control" id="ChapterName" name="ChapterName" placeholder="Enter Chapter Name">
                                                </div>
                                            </div>

                                        </div>





                                    </div>
                                    <!-- /.box-body -->

                                    <div class="box-footer">
                                        <input type="submit" style="float:right;" class="btn btn-success" value="SAVE">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div> <!-- panel end -->
          

                
             

                <br>




                <form>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Search Book</h3>
                        </div>
                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Chapter Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Chapter Name">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">&nbsp;</label>
                                        <center> <button type="submit" class="btn btn-info" style="width: 100%;">SEARCH</button></center>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


@{
    RTUDB a = new RTUDB();
    var dT = a.Select("SELECT * from chapter_tbl ");
    if (dT.Rows.Count > 0)
    {
        for (int x = 0; x < dT.Rows.Count; x++)
        {
            
            string chapter = dT.Rows[x][4].ToString();
            string cId = dT.Rows[x][0].ToString();
            string aydii = "#pogi" + x.ToString();
            string aydii2 = "pogi" + x.ToString();




            <div class="col-md-4" style="padding: 40px 0px;">

                <div class="clash-card ">


                    <br>
                    <div class="clash-card__unit-name"><p> @chapter </p><span style="font-size: 0.4em;">Chapter @cId</span></div>




                    <div class="clash-card__unit-stats clearfix bgcolor2">

                        <a style="padding:0px;" name="view" value="View" href="?x=EXAM">

                            <div class="one-third">
                                <div class="stat">


                                    <i class="fa fa-book" aria-hidden="true" style="color:white;"></i>


                                </div>
                                <div class="stat-value" style="color:white;">EXAM</div>
                            </div>

                        </a>

                        <a style="padding:0px;" name="view" value="View" href="?x=CONTENT">

                            <div class="one-third">
                                <div class="stat">


                                    <i class="fa fa-file" aria-hidden="true" style="color:white;"></i>


                                </div>
                                <div class="stat-value" style="color:white;">CONTENT</div>
                            </div>
                        </a>

                        <a style="padding:0px;" name="view" value="View" href="" data-toggle="modal" data-target="@aydii">
                            <div class="one-third no-border">
                                <div class="stat">


                                    <i class="fa fa-edit" aria-hidden="true" style="color:white;"></i>


                                </div>
                                <div class="stat-value" style="color:white;">EDIT</div>
                            </div>
                        </a>



                    </div>

                </div> <!-- end clash-card -->

            </div>






            <div class="modal modal-primary fade" id="@aydii2">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">EDIT BOOK</h4>
                        </div>
                        <form action="/" id="editform">
                            <div class="modal-body">





                                <!-- /.box-header -->
                                <!-- form start -->



                                <div class="box box-primary" style="padding: 10px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <span style="color: black;">Chapter Name</span>
                                                <input type="hidden"  name="cId" value="@cId">


                                                <input type="text" class="form-control" placeholder="Book Name" name="ChapterName" value="Chapter Name">
                                            </div>
                                        </div>

                                    </div>




                                </div>


                            </div><!--  body modal -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-outline">Save changes</button>
                            </div>

                        </form>
                    </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

        }
    }
}



             





                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->









                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->






                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->






                <script src="AdminLTE/AdminLTE-2.4.0-rc/bower_components/jquery/dist/jquery.min.js"></script>
                <!-- Bootstrap 3.3.7 -->
                <script src="AdminLTE/AdminLTE-2.4.0-rc/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
                <!-- AdminLTE App -->
                <script src="AdminLTE/AdminLTE-2.4.0-rc/dist/js/adminlte.min.js"></script>

                <!-- Optionally, you can add Slimscroll and FastClick plugins.
                     Both of these plugins are recommended to enhance the
                     user experience. -->



                <script type="text/javascript">
        $("#addchapter").click(function(){
        $("#panel").slideToggle("slow");
          });



                </script>

                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->






            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->
    <script>
                    $("#addform").submit(function (e) {
                        e.preventDefault();
                        var url = "Backend/insert-chapter.cshtml";

                        $.ajax({
                            type: "POST",
                            url: url,
                            data: $("#addform").serialize()
                        }).done(function (data) {


                                        swal({
                                            title: "Success!",
                                            text: "Successfully added a chapter!",
                                            type: "success",
                                            closeOnConfirm: false,
                                            showLoaderOnConfirm:true
                                        }, function() {
                                            setTimeout(function(){
                                                window.location.href = "Chapters";
                                            },2000);

                                        });

                        }).fail(function (data) {
                            window.location.href = "Chapters";
                        });

                    });




                    $("#editform").submit(function (e) {
                        e.preventDefault();
                        var url = "Backend/edit-chapter.cshtml";

                        $.ajax({
                            type: "POST",
                            url: url,
                            data: $("#editform").serialize()
                        }).done(function (data) {


                            swal({
                                title: "Success!",
                                text: "Successfully edit a chapter!",
                                type: "success",
                                closeOnConfirm: false,
                                showLoaderOnConfirm: true
                            }, function () {
                                setTimeout(function () {
                                    window.location.href = "Chapters";
                                }, 2000);

                            });

                        }).fail(function (data) {
                            window.location.href = "Chapters";
                        });

                    });
    </script>


</body>
</html>