@SiteView.Professors.profIsLogged()

@{ 
    if (UrlData[0].ToString() != null)
    {
        UrlData[0].ToString();
    }
}

@{
    if (IsPost)
    {
        if (Request["user"] == "" || Request["pass"] == "")
        {
            <script type="text/javascript">
             window.onload = function () {
                 swal("Please Enter A Username/Password!");
             };
            </script>
        }
        else
        {
            RTUDB conn = new RTUDB();
            conn.QuickBind(new string[] { Request["user"], Request["pass"] });
            var dT = conn.Select("Select acc_id,access_right from account_tbl where acc_username = @1 and acc_password = @2");
            if (dT.Rows.Count > 0)
            {
                if (dT.Rows[0][1].ToString() == "Professor")
                {
                    Session["user_level"] = "Professor";
                    Session["account_id"] = dT.Rows[0][0].ToString();
                    Response.Redirect("~/Professors/");
                }
                else
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            swal("Invalid Username/Password Combination!");
                        };
                    </script>
                }
            }
            else
            {
                <script type="text/javascript">
                    window.onload = function () {
                        swal("Invalid Username/Password Combination!");
                    };
                </script>
            }
        }
    }
}

<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ELRN | LOGIN</title>
  <!-- Tell the browser to be responsive to screen width -->
 <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
  <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/dist/css/skins/skin-blue.min.css">
    <script src="~/Professors/sm/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="~/Professors/sm/dist/sweetalert.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">



        <link rel="stylesheet" href="content/color.css">

<style type="text/css">



    /*{

     
   
    height: 100%;
    background: url("Content/login/elearning.png")no-repeat center center fixed ;
    background-color: #1f1f27;
    -webkit-background-size: 70%;
    -moz-background-size: 70%;
    -o-background-size: 70%;
    background-size: 70%;
    overflow-y: hidden;
    }*/

</style>
          
</head>
<body class="bgcolor1">
<div class="login-box" >
  <div class="login-logo">
    <a href="~/Admin/"><b class="color5">ELRN</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
<br>
    <form method="post">
      <div class="form-group has-feedback">
        <input name="user" type="text" class="form-control" placeholder="Username">
        <i class="fa fa-user form-control-feedback"></i>
      </div>
      <div class="form-group has-feedback">
        <input name="pass" type="password" class="form-control" placeholder="Password">
        <i class="fa fa-lock form-control-feedback"></i>
      </div>
      <div class="row">
        <div class="col-xs-8">
         
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn bgcolor2 color5 btn-block btn-flat">LogIn</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<script src="AdminLTE/AdminLTE-2.4.0-rc/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="AdminLTE/AdminLTE-2.4.0-rc/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="AdminLTE/AdminLTE-2.4.0-rc/dist/js/adminlte.min.js"></script>
    <script type="text/javascript">
$(document).ready(function(){

    });
    </script>

</body></html>
