<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ContentTools sandbox</title>
    <link rel="stylesheet" type="text/css" href="~/Admin/src/JS/sandbox.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/src/JS/content-tools.min.css">
    <script src="~/Admin/src/JS/he.js"></script>
</head>
<body>

    <div data-editable data-name="main-content" class="article" id="test">
        <blockquote>
            Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
        </blockquote>
        <p>John F. Woods</p>
    </div>

    <script type="text/javascript" src="~/Admin/src/JS/content-tools.js"></script>
    <script type="text/javascript" src="~/Admin/src/JS/sandbox.js"></script>
</body>
</html>
